/* Configurações gerais */

.playwrite-au-qld-t3 {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
}

hr {
	height: 10px;
	width: 80%;
	color: gray;
}
/* Cabeçalho */

/* Fim do Cabeçalho */

/* Conteúdo  */

/* Fim do Conteúdo */

/* Rodapé */

/* Fim do Rodapé */

/* Medium and larger devices */
